################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core Item Randomizer/obj
/Core Item Randomizer/bin/Release
/packages