################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core Item and Info Randomizer/obj
/Core Item and Info Randomizer/bin/Release
/packages
